@font-face
  font-family roundedMPlus1pRegular
  font-style normal
  src url("/assets/fonts/rounded-mplus-1p-regular.ttf")

html
  //font-guardians roundedMPlus1pRegular, sans-serif
  font-size: 15px
  font-weight: 100
  line-height: 1.5
  @media (max-width: 1024px)
    font-size: 13px
  @media (max-width: 500px)
    font-size: 11px

h1, h2, h3, h4, h5, h6, p, ul, ol
  margin-top: 0.2rem
  margin-bottom: 1rem

h1, h2, h3, h4, h5, h6
  margin-bottom: .5rem
  line-height: 1.1

.detail-info
  font-size: 1.2rem

.option-info
  font-size: .6rem
  color: #aaa

div, span, label, input, textarea
  //font-guardians roundedMPlus1pRegular, sans-serif;