/*
Inspired by http://dribbble.com/shots/917819-iPad-Calendar-Login?list=shots&sort=views&timeframe=ever&offset=461
*/
body {
    background-size:100% auto;
}
.fullHeight {
    height: 100%;
}
.background{
    position:fixed;
    left:0;
    right:0;
    background-size:100% auto;
    background-image: url(/assets/images/kids2.jpg);
    background-repeat: no-repeat;
    height:100%;
    background-color: #EEEEEE;
    width:100%;
    filter:blur(5px) brightness(80%);
    -webkit-filter:blur(5px) brightness(80%);
}
/* ======= Gradients ======= */
.gradient-1 {
    background-image: -webkit-linear-gradient(110deg, #31c8b1 10%, #4ec7ff 90%), url("../images/background/diamond_upholstery.png");
    background-image: -moz-linear-gradient(110deg, #31c8b1 10%, #4ec7ff 90%), url("../images/background/diamond_upholstery.png");
    background-image: -o-linear-gradient(110deg, #31c8b1 10%, #4ec7ff 90%), url("../images/background/diamond_upholstery.png");
    background-image: linear-gradient(110deg, #31c8b1 10%, #4ec7ff 90%), url("../images/background/diamond_upholstery.png");
    background-image: -ms-linear-gradient(110deg, #31c8b1 10%, #4ec7ff 90%);
    /* IE 10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#31c8b1, endColorstr=#4ec7ff, GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    background-blend-mode: multiply;
    color: #fff;
}
.gradient-1.promo a {
    color: #01afff;
}
.gradient-1.promo a:hover {
    color: #009ee7;
}

/* ======= Footer ======= */
.footer {
    padding-top: 30px;
    padding-bottom: 30px;
    background: #364b59;
    color: rgba(255, 255, 255, 0.6);
}
.footer a {
    color: rgba(255, 255, 255, 0.6);
}
.footer a:hover {
    color: rgba(255, 255, 255, 0.8);
}
.footer .links {
    margin-left: 0;
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 30px;
    font-size: 14px;
    text-transform: uppercase;
}
.footer .links li {
    margin-right: 15px;
    margin-bottom: 15px;
}
.footer .links li.last {
    margin-right: 0;
}
.footer .links.legal-links {
    font-size: 13px;
    margin-left: 0;
}
.footer .links.legal-links li {
    margin-right: 0;
    padding: 0;
}
.footer .links.legal-links li:after {
    content: "|";
    display: inline-block;
    padding: 0 10px;
}
.footer .links.legal-links li.last:after {
    display: none;
}
.footer .social-icons {
    margin-left: 0;
    margin-bottom: 30px;
}
.footer .copyright {
    font-size: 13px;
    margin-bottom: 15px;
    display: block;
}

/*
.jumbotron {
	text-align: center;
	width: 30rem;

	top: 0;
	left: 0;
	right: 0;
	position: absolute;
	margin: 4rem auto;
	background-color: rgba(105,155,105,0.4);
	padding: 2rem;
}

.loginContainer .glyphicon-list-alt {
	font-size: 10rem;
	margin-top: 3rem;
	color: #f96145;
}

input {
	width: 100%;
	margin-bottom: 1px;
	height: 4rem;
	padding: 1rem;
	background-color: rgba(255,255,255,0.9);
	border-radius: 0rem;
	border: none;

}
h2 {
	margin-bottom: 3rem;
	font-weight: bold;
	color: #fff;
  font-size: 52px;
}
.btn {
	border-radius: 0rem;
	border: none;
	margin-bottom: 1px;
}
.btn .glyphicon {
	font-size: 3rem;
	color: #fff;
}
.full-width {
	background-color: #8eb5e2;
	width: 100%;
	height: 4rem;
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomright: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.box {
	position: absolute;
	left: 0;
	margin-bottom: 3rem;
	margin-left: 3rem;
	margin-right: 3rem;
}
*/
