
html {
    height: 100%;
}

body {
    height: 100%;
    padding: 0 !important;
    margin: 0 !important;
}

.wrapper {
    display: inline-block;
    margin-top: 64px;
    width: 100%;
}

.v_center {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.v-center-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.h_center {
    text-align: center;
}

.dropZone {
    height: 10em;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.dropOnPaper {
    height: 100%;
    width: 100%;
}

img {
    vertical-align: middle;
}

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    display: block;
    width: 100% \9;
    max-width: 100%;
    height: auto;
}

.img-rounded {
    border-radius: 6px;
}

.img-circle {
    width: 180px;
    border-radius: 180px;
    -webkit-border-radius: 180px;
    -moz-border-radius: 180px;
}

.img-thumbnail {
    display: inline-block;
    width: 100% \9;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.img-round {
    border-radius: 10%;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.bottom-line {
    border-bottom: solid 1px #ccc;
}

.left-line {
    border-left: solid 1px #ccc;
}

.right-line {
    border-right: solid 1px #ccc;
}

.col-20per {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 0;
    box-sizing: border-box;
    -webkit-flex-basis: 20%;
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
}

.menu-img {
    width: auto;
    max-height: 82px;
    vertical-align: middle;
}

.menu-txt {
    margin-left: 8px;
    vertical-align: middle;
}